@{
    ViewData["Title"] = "Github API";
}

  <div id="w">
    <h2 class="headingFont">Simple Github API Webapp</h2>
    <p>Enter a user name below</p>
    
    <input type="text" name="userAccount" id="userAccount" placeholder="allencho0223" style="height: 40px">
    
    <a href="#" id="search" class="btn btn-primary">Find</a>
    
    <div id="apiData" class="clearfix"></div>
  </div>