@{
    ViewData["Title"] = "Github API";
}

  <div class="container"></br>
    <p class="headingFont">Github API User Finder</p>
    <p class="pFont">Enter a user name</p>
    
    <input type="text" name="userAccount" id="userAccount" placeholder="allencho0223" style="height: 40px">
    
    <a href="#" id="search" class="btn btn-primary">Find</a>
  </div>

  <div id="apiData" class="clearfix"></div>